.body {
  width: 100vw;
  height: 100vh;
  background-image: url('../../images/kosmos.jpg');
  background-size: cover;
}

.support {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 280px 270px;
}

.dialog {
  width: 400px;
  height: 300px;
}

.container {
  display: flex;
  position: relative;
}

.dialog__container {
  position: relative;
  right: 370px;
  top: 25px;
}

.typeWriter {
  width: 350px;
  position: relative;
  left: -742px;
  top: 60px;
  font: 400 20px/24px 'Inter', sans-serif;
}


.glow_on_hover {
  position: relative;
  top: -90px;
  width: 220px;
  height: 50px;
  margin: 0 0 0 800px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  font: 500 20px/24px 'Inter', sans-serif;
  z-index: 0;
  border-radius: 10px;
}

.glow_on_hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow_on_hover:active {
  color: #000
}

.glow_on_hover:active:after {
  background: transparent;
}

.glow_on_hover:hover:before {
  opacity: 1;
}

.glow_on_hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
