.body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/TronniyZal.jpg");
  background-size: cover;
}

.support {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 280px 270px;
  z-index: 1;
}

.dialog {
  width: 400px;
  height: 300px;
}

.container {
  display: flex;
  position: relative;
}

.dialog__container {
  position: relative;
  right: 370px;
  top: 25px;
}

.typeWriter {
  width: 350px;
  position: relative;
  left: -742px;
  top: 53px;
  font: 400 20px/24px "Inter", sans-serif;
}

.treasure {
  position: relative;
  top: -100px;
  left: 800px;
  transition: opacity 0.2s linear;
}

.treasure:hover {
  opacity: 0.6;
  cursor: pointer;
}
